<section class="biografiya" id="biografiya">
  <div class="container biografiya-container">
    <div class="biografiya__info">
      <div class="biografiya__title">Дёмин Вячеслав Алексеевич</div>
      <div class="biografiya__disc">
          Дата рождения – 28 июня 1986 года<br>
          Место жительства – г. Минск.<br>
          Место работы, должность – директор общества с ограниченной ответственностью «РойсКорп».<br>
          Партийность – член Либерально-демократической партии.<br>
          Имеет высшее образование.<br>
          Отучился в Белорусском Национальном Техническом университете, где получил специальность -менеджер-экономист<br>
          С 2006 года по 2016 год  работал в различных сферах бизнеса, где получил практический опыт и обширные знания, что в последующем способствовало открытию собственного бизнеса в сфере пассажирских перевозок в 2017 году, а в 2019 году  еще 
      </div>
      <div class="biografiya__disc biografiya__disc-hide">
          двух направлений: маркетингового агентства и бухгалтерской компании.<br>
          2019 г. – по настоящее время директор общества с ограниченной<br>
          Также проучился в Белорусском Государственном автотранспортном колледж.получил практический опыт и обширные знания, что в последующем способствовало открытию собственного бизнеса в сфере пассажирских перевозок в 2017 году, а в 2019 году  еще двух направлений: маркетингового агентства и бухгалтерской компании.<br>
          2019 г. – по настоящее время директор общества с ограниченной ответственностью «РойсКорп».<br>
          Женат. Воспитывает дочь.
      </div>
      <span class="biografiya__lesson">Читать полностью</span>
    </div>
    <div class="biografiya__img">
      <div class="biografiya__bg-left"></div>
      <div class="biografiya__bg-right"></div>
      <div class="biografiya__image"></div>
    </div>
  </div>
</section>