<section class="candidat">
  
  <div class="container candidat-container">
    <div class="candidat__flag"></div>
    <div class="candidat__blue-angle"></div>


    <div class="candidat__icons">
      <a href="https://www.facebook.com/profile.php?id=100039803026202" target="_blank"><div class="candidat__icon candidat__icon-fb"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
      <a href="https://twitter.com/ViacheslavDemin" target="_blank"><div class="candidat__icon candidat__icon-tw"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
      <a href="https://www.instagram.com/demin.v.a_official/" target="_blank"><div class="candidat__icon candidat__icon-ins"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
      <a href="https://vk.com/demin_official" target="_blank"><div class="candidat__icon candidat__icon-vk"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
      <a href="https://t.me/demin_v_a_official" target="_blank"><div class="candidat__icon candidat__icon-teleg"><i class="fa fa-telegram" aria-hidden="true"></i></div></a>
    </div>
    <div class="candidat__img"></div>
    <div class="candidat-wrap">
        <div class="candidat__block">
          <h1 class="candidat__title">Демин Вячеслав Алексеевич</h1>
          <h2 class="candidat__disc">Кандидат в депутаты Палаты Представителей
            Национального собрания Республики Беларусь</h2>
        </div>
        <div class="candidat__blockbel">За сильную<span>беларусь !</span></div>
    </div>
  </div>
</section>
<section class="slogan">
  <div class="slogan__item">Все говорят, а я делаю!</div>
  <div class="slogan__item">Вместе мы сильнее!</div>
  <div class="slogan__item">Со мной будет лучше!</div>
</section>